<h4>INVITE YOUR FRIEND TO JOIN THE SHOPPING ADVENTURE!</h4>
<form action="/send-email" method="post">
  <label for="">Type the email of your friend</label>
  <input type="email" name="email" id="">
  {{!-- <label for="">Subject</label>
  <input type="text" name="subject" id="">
  <label for="">Message</label> --}}
  {{!-- <textarea type="text" name="message" id=""></textarea> --}}
  <button type="submit">Submit</button>
</form>