<nav class="navbar">
    <div class="navbar-left">
        {{!-- replace the text below with FA icons --}}
        <a href="/items"><i class="fas fa-list-ul"></i></a>
        <a href="/friends"><i class="fas fa-users"></i></a>
        <a href="/roulette"><i class="fas fa-heart"></i></a>
    </div>
    <span id="user-name">Hello, {{currentUser.firstName}}</span>
    <form id="logout-form" action="/logout" method="POST">
        <button>Logout</button>
    </form>
    <a href="/user"><i class="fas fa-user"></i></a>


</nav>