<nav>
    <div>
        {{!-- replace the text below with FA icons --}}
        <a href="/items"><i class="fas fa-list-ul"></i></a>
        <a href="/friends"><i class="fas fa-users"></i></a>
        <a href="/roulette"><i class="fas fa-heart"></i></a>
    </div>
    <a href="/signin">Login</a>

</nav>