<nav>
    <div>
        {{!-- replace the text below with FA icons --}}
        <a href="">Items list</a>
        <a href="">Friends</a>
        <a href="">Tinder Page</a>
    </div>
    <a href="">Login</a>

</nav>