{{> nav_bar_home}}


<h1 class="title-home"><i class="fas fa-store homelogo"></i>Pickit!</h1>
<h2 class="subtitle">Get ready to shop...</h2>

<div class="btns-home">
    <a href="/signin" class="btn-log"><i class="fas fa-sign-in-alt"> </i> Login</a>
    <a href="/signup" class="btn-log"><i class="fas fa-user-plus"> </i> Signup</a>
</div>

<div class="home-background">
<section class="cards-home">
    {{!-- put background images (or colors/styles) for each of the following div boxes --}}
    <div class="card-home">
        <p class="number-home"><i class="fas fa-clipboard-list"></i> </p>
        <p class="cardText-home"> Create a shopping wishlist </p>
    </div>
    <div class="card-home">
        <p class="number-home"><i class="fas fa-user-friends"></i> </p>
        <p class="cardText-home">Connect with your friends</p>
    </div>
    <div class="card-home">
        <p class="number-home"> <i class="fas fa-hands-helping"></i> </p>
        <p class="cardText-home">Help your friends make shopping decisions </p>
    </div>
</section>
</div>
<footer class="homefooter"> Made with love by EEE© </footer>

