<h1 class="title-home"><i class="fas fa-store"></i>Pickit!</h1>
<h2 class="subtitle">Get ready to shop...</h2>

<div class="btns-home">
    <a href="/signin" class="btn-log"><i class="fas fa-sign-in-alt"> </i> Login</a>
    <a href="/signup" class="btn-log"><i class="fas fa-user-plus"> </i> Signup</a>
</div>
<hr>
<section class="cards-home">
    {{!-- put background images (or colors/styles) for each of the following div boxes --}}
    <div class="card-home">
        <p class="number-home"><i class="fas fa-clipboard-list"></i> </p>
        <p class="cardText-home"> Create a shopping list </p>
    </div>
    <div class="card-home">
        <p class="number-home"><i class="fas fa-user-friends"></i> </p>
        <p class="cardText-home">Connect with your friends</p>
    </div>
    <div class="card-home">
        <p class="number-home"> <i class="fas fa-hands-helping"></i> </p>
        <p class="cardText-home">Help your friends make shopping decisions </p>
    </div>
</section>

<img class="bg-home"
    src="https://st2.depositphotos.com/2511477/6362/v/950/depositphotos_63624603-stock-illustration-background-with-colorful-shopping-icons.jpg">


<div class="footer"> Made with love by EEE© </div>