<h1>PICKIT</h1>
<h2>Tinder for Shopping</h2>

<div>
    <button>Login</button>
    <button>Signup</button>
</div>

<section>
    {{!-- put background images (or colors/styles) for each of the following div boxes   --}}
    <div>Create a shopping list of items that you're considering buying</div> 
    <div>Connect with your friends</div>
    <div>Help your friends make shopping decisions</div>
</section>
