
{{> nav_bar}}
{{!-- check all links / each when we do the routes --}}
<h2 class="subtitle-list"> Your items list </h2>
<div >
    <div id="allitems-header">
        <div id="items-filter">
            <span>Filter &#x25BC</span>
            <span>Sort &#x25BC</span>
        </div>
        <a id="item-create" href="/items/create"><p class='black'>Add new item</p><i class="fas fa-plus-circle black"></i></a>
    </div>

    {{!-- maybe copy/comment out the below and put in a placeholder to do the styling? --}}
        <section id="item-list-all"> {{!-- will need scroll overflow y --}}

        </section>