
{{> nav_bar}}

<form method="POST" action="/items/create" enctype="multipart/form-data" class="form-create">
    <h2 class="subtitle"> Add an item</h1>

        <div class="fullInput">
            <label for="name">Item Name <i class="fas fa-tag"></i></label>
            <input type="text" name="name" placeholder="Item name">
        </div>

        <div class="fullInput">
            <label for="brand">Brand <i class="far fa-copyright"></i></label>
            <input type="text" name="brand" placeholder="Brand">
        </div>

        <div class="fullInput">
            <label for="description">Description <i class="fas fa-info-circle"></i></label>
            <input type="text" name="description" placeholder="Description">
        </div>

        <div class="fullInput">
            <label for="category">Category <i class="fas fa-box-open"></i></label>
            <select id="" name="category">
                <option value="-1" disabled selected>Choose a category...</option>
                {{#each categories}}
                <option value={{this._id}}>{{this.name}}</option>
                {{/each}}
            </select>
        </div>

        <div class="fullInput">
            <label for="price">Price <i class="fas fa-money-bill-wave"></i></label>
            <input type="text" name="price" placeholder="Price">
        </div>

        <div class="fullInput">
            <label for="link">Website link <i class="fas fa-link"></i></label>
            <input type="text" name="link" placeholder="Website link">
        </div>

        <div class="fullInput">
            <label for="image">Upload an image <i class="fas fa-cloud-upload-alt"></i></label>
            <input type="file" name="image">
        </div>

        <button class="btn-log">Add Item !</button>

</form>