<form method="post" action="/auth/signup" enctype="multipart/form-data" class="form-signup">
    <h2 class="subtitle">Signup for an account</h1>

        <label for="username">Create a username</label>
        <input type="text" name="username">

        <label for="firstName" class="label">First Name</label>
        <input class="input" type="text" name="firstName">

        <label for="lastName" class="label">Last Name</label>
        <input class="input" type="text" name="lastName">

        <label for="email" class="label">Email</label>
        <input class="input" type="email" name="email">

        <label for="password" class="label">Password</label>
        <input class="input" type="password" name="password">

        <label for="image" class="label">Upload a profile picture<i class="fas fa-cloud-upload-alt"></i></label>
        <input class="input" type="file" name="image">

        <button class="btn-signup">Sign Up!</button>
        <p>
            Already have an account ? <a class="link" href="/signin">Please signin !</a>
        </p>
</form>