{{!-- <form method="post" action="/signup" enctype="multipart/form-data" class="form-signup"> --}}
    {{> flashMessage}}
    <form method="post" action="/signup" class="form-signup" enctype="multipart/form-data">

        <h2 class="subtitle">Signup for an account</h1>

            <div class="fullInput">
                <label for="username">Create a username</label>
                <input type="text" name="username" placeholder="Username">
            </div>

            <div class="fullInput">
                <label for="firstName" class="label">First Name</label>
                <input class="input" type="text" name="firstName" placeholder="first name">
            </div>

            <div class="fullInput">
                <label for="lastName" class="label">Last Name</label>
                <input class="input" type="text" name="lastName" placeholder="last name">
            </div>

            <div class="fullInput">
                <label for="email" class="label">Email</label>
                <input class="input" type="email" name="email" placeholder="email">
            </div>

            <div class="fullInput">
                <label for="password" class="label">Password</label>
                <input class="input" type="password" name="password" placeholder="password">
            </div>

            <div class="fullInput">
                <label for="image" class="label">Upload a profile picture<i class="fas fa-cloud-upload-alt"></i></label>
                <input class="input" type="file" name="image">
            </div>

            <button class="btn-signup">Sign Up!</button>
            <p>
                Already have an account ? <a class="link" href="/signin">Please signin !</a>
            </p>
    </form>