{{> flashMessage}}
<form method="post" action="/signin" class="form-signin">
    <h2 class="subtitle"> Sign in to your account</h1>
        <label for="email"></label>
        <input name="email" type="text" value="" placeholder="enter your email...">
        <label for="password"></label>
        <input name="password" type="password" value="" placeholder="password">

        <button class="btn-log">Sign in</button>
        <hr>

        <p>
            No account yet ? <a class="link" href="/signup">Please signup !</a>
        </p>
</form>