<form method="post" action="/auth/signup" enctype="multipart/form-data">
    <h1 class="title">Signup for an account</h1>

    <label for="username">Create a username</label>
    <input type="text" name="username">

    <label for="firstName">First Name</label>
    <input type="text" name="firstName">

    <label for="lastName">Last Name</label>
    <input type="text" name="lastName">

    <label for="email">Email</label>
    <input type="text" name="email">

    <label for="password">Password</label>
    <input type="text" name="password">

    <label for="image">Upload a profile picture<i class="fas fa-cloud-upload-alt"></i></label>
    <input type="file" name="image">

    <hr>
    <p>
        Already have an account ? <a class="link" href="/auth/signin">Please signin !</a>
    </p>
</form>